

.landing {
    width:100%;
    margin: auto;
    height: 100vh;
    background: grey;
    background-image: url('https://images.unsplash.com/photo-1605860632725-fa88d0ce7a07?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    margin-bottom: .2rem;
}

.landing h3 {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.landing :is(h1, h3) {
    
    color: var(--light);
    text-shadow: 4px 3px 2px var(--accent);
    
}

.intro {
    background: var(--secondary);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing button {
    border: none;
    margin-top: 1rem;
    width: 90%;
    min-height: 2rem;
    color: var(--accent);
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    transition: .3s;
    font-weight: 600;
    letter-spacing: 2px;
}

.landing button:hover {
    cursor: pointer;
    transform: scale(1.05)
}



.landing-social img {
    width: 4rem;
    margin: 0 1rem;
    transition: .2s;
}

.landing-social img:hover {
 transform: scale(1.05);
}

.intro-text {
    color: var(--light);
    font-weight: 600;
    font-size: 2.5em;
    letter-spacing: 3px;
}

.slider {
    background: var(--primary);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}



.hide {
    background: var(--secondary);
    overflow: hidden
}

.hide span {
    transform: translateX(-100%);
    display: inline-block;
}

.port-logo {
    width: 50%;
    max-width: 300px
}

.landing h1 {
    margin-top: 0;
}


@media screen and (max-width:800px){
    .landing {
    font-size: .6em;
    background-position-x: 100%;
    /* background-image: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); */
    background-size: cover;
    
    }

    .landing h1 {
        margin-bottom: 3rem;
    }

    .landing button {
        width: 80%;
        background-color: var(--light);
    }

    .intro-text {
        font-size: 1.2em;
        margin-left: 1rem;
    }

    .landing button {
        width: 70%;
    }

    .landing-social img {
        width: 50px;
    }
}

@media screen and (max-width:500px){
    .landing {
        font-size: .4em;
    }
}