.landing {
    width:100%;
    margin: auto;
    height: 100vh;
    background: grey;
    background-image: url('/assets/pictures/black-white.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    font-size: 6em;
    
}

.landing h3 {
    font-size: 4em;
}

.landing h1, .landing h3 {
    color: var(--light);
    text-shadow: 4px 3px 0 #313131;
    margin: 0 auto;
}

@media screen and (max-width:800px){
    .landing {
font-size: 10px;
    }
}