header{
    background:var(--primary);
    text-align: right;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.logo-top {
    width: 40px;
    margin: .5em;
    margin-right: 1em;
    
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--primary);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform .4s ease-in-out
   
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--light);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    
    transition: opacity .2s ease-in-out;
    transition: .3s;
   
}

nav a:hover {
    color: var(--accent);
}


.nav-tog:checked ~ nav {
  transform: scale(1,1)
}

.nav-tog {
    display: none;
}

.nav-tog:checked ~ nav a {
    opacity: 1;
    transition: opacity .35s ease-in-out .4s;
}

.nav-tog-label {
    color: var(--light);
    position: absolute;
    top:0;
    left:0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-tog-label span, .nav-tog-label span::before, .nav-tog-label span::after{
display: block;
background: var(--light);
height:2px;
width: 2.2em;
border-radius: 2px;
position: relative;
}


.nav-tog-label span::before, .nav-tog-label span::after{
    content: '';
    position: absolute;
}

.nav-tog-label span::before {
    bottom:  9px;
}

.nav-tog-label span::after {
    top: 9px;
}



@media screen and (min-width:800px){
    .nav-tog-label {
        display: none
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 6fr) 1fr;
        min-height: 7vh;
    }

    .logo-top {

        margin-top: .7rem;
    }

    .logo-a {
        grid-column: 1/2;
        text-align: center;
    }

    .logo-top a {
        align-items: center;
    }

    nav {
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display:block;
        height: 5px;
        background: var(--accent);
        position: absolute;
        bottom: -.2em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out .4s
    }

    nav a:hover::before {
        transform: scale(1,1)
    }
}