@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Open+Sans:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
:root {
  --primary: #0a0b0d;
  --secondary: #1b1f26;
  --accent: #3b4b59;
  --light: #dce5eb;
  --shadow: #6d7e8c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #4a4a4a;
  background: -moz-linear-gradient(45deg, #4a4a4a 0%, #c7c7c7 0%, #292929 100%);
  background: -webkit-linear-gradient(
    45deg,
    #4a4a4a 0%,
    #c7c7c7 0%,
    #292929 100%
  );
  background: linear-gradient(45deg, #4a4a4a 0%, #c7c7c7 0%, #292929 100%);
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

/* animation for intersection observer */

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 15px;
  }
}
