@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Open+Sans:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary: #0a0b0d;
    --secondary:#1B1F26;
    --accent: #3B4B59;
    --light: #dce5eb;
    --shadow: #6D7E8C;

}

*, *::before, *::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #4A4A4A;
    background: -moz-linear-gradient(45deg, #4A4A4A 0%, #C7C7C7 0%, #292929 100%);
    background: -webkit-linear-gradient(45deg, #4A4A4A 0%, #C7C7C7 0%, #292929 100%);
    background: linear-gradient(45deg, #4A4A4A 0%, #C7C7C7 0%, #292929 100%);
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

/* navbar */



main {
    height: 200vh
}

