
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root {
    --primary: #0A0B0D;
    --secondary:#1B1F26;
    --accent: #3B4B59;
    --light: #B4CBD9;
    --shadow: #6D7E8C;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--secondary);
    font-family: 'Oswald', sans-serif;
}

/* navbar */



main {
    height: 200vh
}

